.row
  .col-md-8
    %h1 Tasks
  .col-md-4
    = link_to "Create new", new_development_plan_task_path, class: "btn btn-success"
- if @tasks.present?
  - @levels.each do |level|
    .row.border.border-dark.rounded.mb-1
      .col.col-lg-1
        = level[0].capitalize
      - @flow_steps.each do |flow_step|
        .col
          = flow_step.title
          %br/
          - @tasks.each do |task|
            - if task.level == level[0] && task.flow_step == flow_step
              = link_to task.title, development_plan_task_path(task.development_plan,task), class: "btn btn-outline-secondary btn-sm btn-block"

- else
  %p Don`t have tasks
