.row
  .col-md-8
    %h1 Tasks
  .col-md-4
    = link_to "Create new", new_task_path, class: "btn btn-success"
- if @tasks.present?
  %table.table
    %tr
      %th Level
      - @flow_steps.each do |fs|
        %th= fs.title

    - @tasks.each do |f|
      %tr
        %td= f.level
        %td= f.title
    -#%tr
    -#  = form_with model: @task, method: :post do |input|
    -#    %td= input.text_field :title
        -#%td= input.submit "Save", class: "btn btn-success"


- else
  %p Don`t have tasks
