<h1>User profile</h1>
<% if @user.avatar.present? %>
  <%= image_tag @user.avatar, width: 300 %><br/>
<% end %>
<%= @user.first_name %>
<%= @user.last_name %><br/>
<%= link_to 'Edit', edit_user_path(@user) %>

