<h1>Departments</h1>
<%= link_to "Create department", new_department_path, class: "btn btn-secondary" %>
<% @departments.each do |f| %>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
    </tr>
    <tr>
      <td><%= f.id %></td>
      <td><%= link_to  f.title, department_url(f) %></td>

    </tr>
  </table>

<% end %>
