<h1>Add new department</h1>
<%= form_with model: @department do |f| %>

  <%= render 'departments/form', f: f %>

  <div>
    <%= f.submit "Save", class: "btn btn-success" %>
    <%= link_to "Back", :back, class: "btn btn-info" %>
  </div>

<% end %>