%h1 Ruby Bootcamp
%h2 Professional development plan app
%h4 Bootcamp policy
%br/
%p Ruby bootcamp consists of 10 lectures. Every student must visit lectures with their own PC (MacOS or Linux preinstalled). The bootcamp project described in this document must be implemented by each student individually and presented as a part of bootcamp graduation.
%br/
%h4 Project Overview
%p There is such a concept as “Professional development plan” in IT-companies. The plan that helps developers/designers/managers to grow and get up the career ladder. The goal of this project is to digitize this process.
