<div class="row">
  <div class="col-md-8">
    <h1>Development plans</h1>
  </div>
  <div class="col-md-4">
    <%= link_to "Create new", new_development_plan_path, class: "btn btn-success" %>
  </div>
</div>

<% if @development_plans.present? %>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Department</th>
    </tr>
    <% @development_plans.each do |f| %>
      <tr>
        <td><%= f.id %></td>
        <td><%= link_to f.title, development_plan_path(f) %></td>
        <td><%= f.department.title %></td>
      </tr>
    <% end %>
  </table>

<% else %>
  <p>Don`t have development plans</p>
<% end %>